@tailwind base;
@tailwind components;
@tailwind utilities;

/* header 
- background and text
- links hover
*/

/* bg image */
/* .helloBg {
  background-image: url(../app/components/assets/bg.jpg);
  background-size: cover;
  background-position: center;
} */

.header {
  @apply bg-darkRed text-white;
}

.hover-text-link {
  @apply hover:text-gold;
}

/* hello section */

/* Timeline section */

/* Gallery */
.gallery-heading{
  @apply font-bold text-darkRed text-center
}
.image-gallery{
  @apply rounded w-full cursor-pointer hover:shadow-lg
}

/* legends */

/* footer */
.link{
  @apply hover:underline p-2
}

.footerBody{
  @apply bg-gray text-white p-4 text-center
}

.githubLink{
  @apply hover:underline hover:text-gold transition duration-100 ease-out
}

/* loading */
.loading{
  @apply p-8 bg-gray text-white
}